body {
	background: #E5E5E5;
}
#dropbox {
	background: #4F4D4B;
	border: 3px dashed white;
	width: 250px;
	min-height: 150px; 
	color: white;
	padding: 2em;
}

#dropbox .preview img {
	border: 1px solid #FFFFFF;
    box-shadow: 0 0 2px #000000;
    display: block;
    max-height: 180px;
    max-width: 240px;
}
